## which functions shall be accessible by the users?
export(dgpd,
falk,
falkMVUE,
generalizedPick,
lambdaGenPick,
pgpd,
pickands,
qgpd,
rgpd)

importFrom(stats, runif)
importFrom(logcondens, quantilesLogConDens)